<header class="bar bar-nav">
    <a href="javascript:;" onclick="showPage('main')" class="icon pull-left hb_back"><span>红包详情</span></a>
</header>
<div class="hb_userinfo">
    <div class="userinfo_head">
        <div class="hbhead"><img src="http://wx.qlogo.cn/mmopen/4IMhFM96LktZP26Lb9fG8tcsPNbfgAbeMOPCBhJVTia6X81AeibATBzkab7SlQPSBrpO48I2yhlD3iae0JAAmhfpAxW5yrsngTO/0"></div>
        <p class="hb_name">刘城熙</p>
        <p class="hb_bao" style="display: none;"><span>6</span>/<b>0</b></p>
        <p class="hb_lei">雷：<span>2</span></p>
    </div>
</div>
<div class="weui-cells__title yilingqu">已领取<span>6</span>/<b>6</b>个
</div>
        <div class="weui-flex jb">
            <div class="usericon">
                <img class="weui-media-box__thumb" src="/content/images/1.jpg" alt="">
            </div>
            <div class="weui-flex__item">
                <a href="javascript:;">
                    <h5 class="weui-media-box__title" style="text-align: left; color: #000; font-size: .8rem; padding-left: 3px;">
                        1号抢包手
                    </h5>
                    <h5 class="weui-media-box__title" style="float:right;color:#000;font-size:.8rem;padding-left: 3px;">5.89金币</h5>
                    <p class="timeinfo" style="display:inline-block;color:#969696;font-size:.75rem;padding-left: 3px;"><span>8月4日</span>&nbsp;&nbsp;<b>17:27</b></p>
                </a>
            </div>
        </div>
        <div class="weui-flex jb">
            <div class="usericon">
                <img class="weui-media-box__thumb" src="/content/images/2.jpg" alt="">
            </div>
            <div class="weui-flex__item">
                <a href="javascript:;">
                    <h5 class="weui-media-box__title" style="text-align: left; color: #000; font-size: .8rem; padding-left: 3px;">
                        2号抢包手
                    </h5>
                    <h5 class="weui-media-box__title" style="float:right;color:#000;font-size:.8rem;padding-left: 3px;">1.52金币</h5>
                    <p class="timeinfo" style="display:inline-block;color:#969696;font-size:.75rem;padding-left: 3px;"><span>8月4日</span>&nbsp;&nbsp;<b>17:27</b></p>
                </a>
            </div>
        </div>
        <div class="weui-flex jb">
            <div class="usericon">
                <img class="weui-media-box__thumb" src="/content/images/3.jpg" alt="">
            </div>
            <div class="weui-flex__item">
                <a href="javascript:;">
                    <h5 class="weui-media-box__title" style="text-align: left; color: #000; font-size: .8rem; padding-left: 3px;">
                        3号抢包手
                    </h5>
                    <h5 class="weui-media-box__title" style="float:right;color:#000;font-size:.8rem;padding-left: 3px;">2.60金币</h5>
                    <p class="timeinfo" style="display:inline-block;color:#969696;font-size:.75rem;padding-left: 3px;"><span>8月4日</span>&nbsp;&nbsp;<b>17:27</b></p>
                </a>
            </div>
        </div>
        <div class="weui-flex jb">
            <div class="usericon">
                <img class="weui-media-box__thumb" src="/content/images/4.jpg" alt="">
            </div>
            <div class="weui-flex__item">
                <a href="javascript:;">
                    <h5 class="weui-media-box__title" style="text-align: left; color: #000; font-size: .8rem; padding-left: 3px;">
                        4号抢包手
                    </h5>
                    <h5 class="weui-media-box__title" style="float:right;color:#000;font-size:.8rem;padding-left: 3px;">7.65金币</h5>
                    <p class="timeinfo" style="display:inline-block;color:#969696;font-size:.75rem;padding-left: 3px;"><span>8月4日</span>&nbsp;&nbsp;<b>17:27</b></p>
                </a>
            </div>
        </div>
        <div class="weui-flex jb">
            <div class="usericon">
                <img class="weui-media-box__thumb" src="/content/images/5.jpg" alt="">
            </div>
            <div class="weui-flex__item">
                <a href="javascript:;">
                    <h5 class="weui-media-box__title" style="text-align: left; color: #000; font-size: .8rem; padding-left: 3px;">
                        5号抢包手
                    </h5>
                    <h5 class="weui-media-box__title" style="float:right;color:#000;font-size:.8rem;padding-left: 3px;">10.36金币</h5>
                    <p class="timeinfo" style="display:inline-block;color:#969696;font-size:.75rem;padding-left: 3px;"><span>8月4日</span>&nbsp;&nbsp;<b>17:27</b></p>
                </a>
            </div>
        </div>
        <div class="weui-flex jb">
            <div class="usericon">
                <img class="weui-media-box__thumb" src="/content/images/6.jpg" alt="">
            </div>
            <div class="weui-flex__item">
                <a href="javascript:;">
                    <h5 class="weui-media-box__title" style="text-align: left; color: #000; font-size: .8rem; padding-left: 3px;">
                        6号抢包手
                    </h5>
                    <h5 class="weui-media-box__title" style="float:right;color:#000;font-size:.8rem;padding-left: 3px;">21.98金币</h5>
                    <p class="timeinfo" style="display:inline-block;color:#969696;font-size:.75rem;padding-left: 3px;"><span>8月4日</span>&nbsp;&nbsp;<b>17:27</b></p>
                </a>
            </div>
        </div>


<div class="duihuan" style="margin-top: 35px">
    <a href="javascript:;" class="weui-btn" style="background:#d55445;color: #fff;margin: 10px;" onclick="showPage('main')">返回房间</a>
</div>