        <div class="weui-flex mg" id="pack11610" onclick="showBg(11610)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/ic6ibtXX9Z11Fbb7Q86ugU5kmgKTNa9aWoonmmW1PGibAn0KicM9wHicqyhRayag1tKkJQMaSP9UfKjAyEUkLJeR6PzkF6rCOZFiaB/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">y</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11610">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>2</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11611" onclick="showBg(11611)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/ic6ibtXX9Z11Fbb7Q86ugU5kmgKTNa9aWoonmmW1PGibAn0KicM9wHicqyhRayag1tKkJQMaSP9UfKjAyEUkLJeR6PzkF6rCOZFiaB/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">y</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11611">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>2</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11613" onclick="showBg(11613)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/ic6ibtXX9Z11Fbb7Q86ugU5kmgKTNa9aWoonmmW1PGibAn0KicM9wHicqyhRayag1tKkJQMaSP9UfKjAyEUkLJeR6PzkF6rCOZFiaB/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">y</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11613">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>2</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11614" onclick="showBg(11614)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/ic6ibtXX9Z11Fbb7Q86ugU5kmgKTNa9aWoonmmW1PGibAn0KicM9wHicqyhRayag1tKkJQMaSP9UfKjAyEUkLJeR6PzkF6rCOZFiaB/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">y</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11614">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>2</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11641" onclick="showBg(11641)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/ic6ibtXX9Z11Fbb7Q86ugU5kmgKTNa9aWoonmmW1PGibAn0KicM9wHicqyhRayag1tKkJQMaSP9UfKjAyEUkLJeR6PzkF6rCOZFiaB/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">y</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11641">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>2</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11642" onclick="showBg(11642)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/ic6ibtXX9Z11Fbb7Q86ugU5kmgKTNa9aWoonmmW1PGibAn0KicM9wHicqyhRayag1tKkJQMaSP9UfKjAyEUkLJeR6PzkF6rCOZFiaB/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">y</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11642">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>2</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11643" onclick="showBg(11643)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/ic6ibtXX9Z11Fbb7Q86ugU5kmgKTNa9aWoonmmW1PGibAn0KicM9wHicqyhRayag1tKkJQMaSP9UfKjAyEUkLJeR6PzkF6rCOZFiaB/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">y</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11643">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>2</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11644" onclick="showBg(11644)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/ic6ibtXX9Z11Fbb7Q86ugU5kmgKTNa9aWoonmmW1PGibAn0KicM9wHicqyhRayag1tKkJQMaSP9UfKjAyEUkLJeR6PzkF6rCOZFiaB/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">y</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11644">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>2</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11645" onclick="showBg(11645)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/ic6ibtXX9Z11Fbb7Q86ugU5kmgKTNa9aWoonmmW1PGibAn0KicM9wHicqyhRayag1tKkJQMaSP9UfKjAyEUkLJeR6PzkF6rCOZFiaB/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">y</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11645">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>2</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11646" onclick="showBg(11646)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/ic6ibtXX9Z11Fbb7Q86ugU5kmgKTNa9aWoonmmW1PGibAn0KicM9wHicqyhRayag1tKkJQMaSP9UfKjAyEUkLJeR6PzkF6rCOZFiaB/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">y</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11646">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>2</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11647" onclick="showBg(11647)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/ic6ibtXX9Z11Fbb7Q86ugU5kmgKTNa9aWoonmmW1PGibAn0KicM9wHicqyhRayag1tKkJQMaSP9UfKjAyEUkLJeR6PzkF6rCOZFiaB/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">y</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11647">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>2</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11648" onclick="showBg(11648)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/ic6ibtXX9Z11Fbb7Q86ugU5kmgKTNa9aWoonmmW1PGibAn0KicM9wHicqyhRayag1tKkJQMaSP9UfKjAyEUkLJeR6PzkF6rCOZFiaB/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">y</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11648">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>2</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11663" onclick="showBg(11663)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/TdUu6bkiakLeAVBLKm6etaOuCSP8JgqMTeaNp8hO8MGk0bTrPqiaMJ4kkBAJN2Pj6iaicibTsXetMbRvkUoFvR9Qznicg8ccChLjdD/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">记住我就好</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11663">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>7</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11665" onclick="showBg(11665)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/TdUu6bkiakLeAVBLKm6etaOuCSP8JgqMTeaNp8hO8MGk0bTrPqiaMJ4kkBAJN2Pj6iaicibTsXetMbRvkUoFvR9Qznicg8ccChLjdD/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">记住我就好</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11665">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>0,1,4</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11666" onclick="showBg(11666)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/TdUu6bkiakLeAVBLKm6etaOuCSP8JgqMTeaNp8hO8MGk0bTrPqiaMJ4kkBAJN2Pj6iaicibTsXetMbRvkUoFvR9Qznicg8ccChLjdD/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">记住我就好</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11666">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>0,1,4</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11667" onclick="showBg(11667)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/TdUu6bkiakLeAVBLKm6etaOuCSP8JgqMTeaNp8hO8MGk0bTrPqiaMJ4kkBAJN2Pj6iaicibTsXetMbRvkUoFvR9Qznicg8ccChLjdD/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">记住我就好</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11667">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>0,1,4</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11668" onclick="showBg(11668)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/TdUu6bkiakLeAVBLKm6etaOuCSP8JgqMTeaNp8hO8MGk0bTrPqiaMJ4kkBAJN2Pj6iaicibTsXetMbRvkUoFvR9Qznicg8ccChLjdD/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">记住我就好</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11668">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>2,3,4</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11669" onclick="showBg(11669)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/TdUu6bkiakLeAVBLKm6etaOuCSP8JgqMTeaNp8hO8MGk0bTrPqiaMJ4kkBAJN2Pj6iaicibTsXetMbRvkUoFvR9Qznicg8ccChLjdD/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">记住我就好</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11669">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>2,3,4</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11670" onclick="showBg(11670)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/TdUu6bkiakLeAVBLKm6etaOuCSP8JgqMTeaNp8hO8MGk0bTrPqiaMJ4kkBAJN2Pj6iaicibTsXetMbRvkUoFvR9Qznicg8ccChLjdD/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">记住我就好</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11670">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>2,3,4</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11671" onclick="showBg(11671)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/TdUu6bkiakLeAVBLKm6etaOuCSP8JgqMTeaNp8hO8MGk0bTrPqiaMJ4kkBAJN2Pj6iaicibTsXetMbRvkUoFvR9Qznicg8ccChLjdD/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">记住我就好</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11671">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>2,3,4</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11673" onclick="showBg(11673)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/TdUu6bkiakLeAVBLKm6etaOuCSP8JgqMTeaNp8hO8MGk0bTrPqiaMJ4kkBAJN2Pj6iaicibTsXetMbRvkUoFvR9Qznicg8ccChLjdD/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">记住我就好</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11673">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>2,3,4</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11674" onclick="showBg(11674)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/0nn3FBrD9a21icoQIW8Yj3SMgWldRy5y2r4x9Xaz99PMF7paaZwEX5I3kPsE7THujYySLujwxx3MgTnge8rIm1g/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">颜初</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>5包/剩<label id="p11674">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>5</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11677" onclick="showBg(11677)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/TdUu6bkiakLeAVBLKm6etaOuCSP8JgqMTeaNp8hO8MGk0bTrPqiaMJ4kkBAJN2Pj6iaicibTsXetMbRvkUoFvR9Qznicg8ccChLjdD/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">记住我就好</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11677">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>2,3,4</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11678" onclick="showBg(11678)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/TdUu6bkiakLeAVBLKm6etaOuCSP8JgqMTeaNp8hO8MGk0bTrPqiaMJ4kkBAJN2Pj6iaicibTsXetMbRvkUoFvR9Qznicg8ccChLjdD/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">记住我就好</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11678">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>0,3,4</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11680" onclick="showBg(11680)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/TdUu6bkiakLeAVBLKm6etaOuCSP8JgqMTeaNp8hO8MGk0bTrPqiaMJ4kkBAJN2Pj6iaicibTsXetMbRvkUoFvR9Qznicg8ccChLjdD/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">记住我就好</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11680">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>2,5,8</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11681" onclick="showBg(11681)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/TdUu6bkiakLeAVBLKm6etaOuCSP8JgqMTeaNp8hO8MGk0bTrPqiaMJ4kkBAJN2Pj6iaicibTsXetMbRvkUoFvR9Qznicg8ccChLjdD/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">记住我就好</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11681">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>1,2,5</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11682" onclick="showBg(11682)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/TdUu6bkiakLeAVBLKm6etaOuCSP8JgqMTeaNp8hO8MGk0bTrPqiaMJ4kkBAJN2Pj6iaicibTsXetMbRvkUoFvR9Qznicg8ccChLjdD/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">记住我就好</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11682">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>1,2,5</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11683" onclick="showBg(11683)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/TdUu6bkiakLeAVBLKm6etaOuCSP8JgqMTeaNp8hO8MGk0bTrPqiaMJ4kkBAJN2Pj6iaicibTsXetMbRvkUoFvR9Qznicg8ccChLjdD/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">记住我就好</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11683">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>1,5</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
        <div class="weui-flex mg" id="pack11684" onclick="showBg(11684)">
                <div class="usericon">
                    <img class="weui-media-box__thumb" src="http://wx.qlogo.cn/mmopen/TdUu6bkiakLeAVBLKm6etaOuCSP8JgqMTeaNp8hO8MGk0bTrPqiaMJ4kkBAJN2Pj6iaicibTsXetMbRvkUoFvR9Qznicg8ccChLjdD/0" alt="">
                </div>
                <div class="weui-flex__item">
                    <a href="javascript:;">
                        <h5 class="weui-media-box__title" style="color: #9a9999; font-size: .7rem; padding-left: 3px; display: none;">记住我就好</h5>
                        <div class="hbdialog bg1">
                            <div class="hbinfo1">
                                <p class="notification-handle-bar">50金币</p><span>6包/剩<label id="p11684">0</label>包</span>
                                <p class="yxhb">游戏红包</p>
                            </div>
                            <div class="hbinfo2">
                                <p class="danlei">单雷</p>
                                <p class="leihao">雷号：<span>1,5</span></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
