<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--********************************************************网站信息***************************************************************-->
    
    <!--网站标题-->
    <add key="Domain_Url" value="https://"/>
    <!--网站标题-->
    <add key="Domain_Title" value="高速不跑单"/>
    <!--网站关键字-->
    <add key="Domain_KeyWord" value="高速不跑单"/>
    <!--网站描述-->
    <add key="Domain_Description" value="高速不跑单"/>
    <!--公司电话-->
    <add key="Company_Phone" value="400-0593-11"/>
    <!--公司邮箱-->
    <add key="Company_Email" value="vplan2017@126.com"/>

    <add key="Company_Email_Password" value="vplan2017"/>

    
    

    <!--********************************************************配置信息***************************************************************-->

    <!--公司声明-->
    <add key="Data_SecretKey" value="fdpimtyud"/>
    
    <!--过期时间-->
    <add key="Exprise_Time" value="14"/>


    <!--********************************************************支付***************************************************************-->
    <!--支付宝账号-->
    <add key="Alipay_Pid" value="2088701677832230"/>
    <!--支付宝密码-->
    <add key="Alipay_Key" value="6lv3egnn0cpgtm9ccvqn5zub458lvsn6"/>

    <!--公司名称-->
    <add key="WeChat_AppId" value="2088701677832230"/>
    <!--公司地址-->
    <add key="WeChat_AppSecret" value="6lv3egnn0cpgtm9ccvqn5zub458lvsn6"/>
    
  </appSettings>
</configuration>
